:root{
    --font-color: #9aa0a6;
    --border-bg-color:#80868b;
}

*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}


[contenteditable] {
    outline: 0px solid transparent;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border: 1px solid #000;
    width: 100%;
    height: 100vh;
    /* transform: translate(0, -50%); */
}

.container .row{
    background-color:var(--font-color);
    margin: 5px;
}

.container .row:first-child{
    margin: 0;
    border: 1px solid red;
}

.container .row .field{

    /* all: revert; */
    display: flex;
    align-items: center; /*vertically*/
    padding: 3px;
    border: 0px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: #f8f9fa;
    font-size: 12pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    
}

.font{
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 24px;
    font-weight: 400;
}


.wi3{
 display: flex;
 background-color: white;
}

.imguo{
 display: inline-block;
 width: 48px;
 height: 48px;
 border-radius: 24px;
 background-color: red;
 background-image: url('imagea.png');
 overflow: hidden;
}

.btn{
    -webkit-user-select: none;
    -webkit-transition: background .3s;
    transition: background .3s;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 48px;
    z-index: 0;
}


.table {display:block; }
.row { display:block;}
.cell {display:inline-block;}

